{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        This is an experimental application for displaying decisions taken by the Boards of Appeal of the European Patent Office.
                        At present, it just presents a list of recent decisions, and a detailed view of each.
                        The decisions are held in a database, and it is the intention that it could become a separate repository for decisions.        
                    </p>
                </div>
            </div>
        </div>

{% endblock %}
