{% extends "app/layout.html" %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-4" id="bibl-display-parent">
                    <div class="bibl-display" id="bibl-display-div" data-spy="affix">
                        <h1 class="casenumber" > {{ decision.CaseNumber}} </h1>
                        <p class="headword"> {{ decision.Headword}}</p>
                        <p class="ECLI"> {{ decision.ECLI}} </p>
                        <p class="date+board"> {{decision.DecisionDate}} by board {{ decision.Board }}
                            {% if decision.OnlineDate %}
                                (online since {{ decision.OnlineDate }})
                            {% endif %}
                        </p>
                        <h4 class="title"> {{ decision.Title }} </h4>
                        <p class="applicant"> {{ decision.Applicant }} </p>
                        {% if decision.Opponents %} <p class="opponents">Opponents: {{ decision.Opponents}} </p> {% endif %}
                        {% if decision.Articles %} <p class="articles+rules"> Article(s) {{ decision.Articles }} </p> {% endif %}
                        {% if decision.Rules %} <p class="articles+rules"> Rules {{ decision.Rules }} </p> {% endif %}
                        <p class="keywords"> {{ decision.Keywords }} </p>

                        {% if citedDecisions %}
                                Cited decisions: 
                                {% for cited in citedDecisions %}
                                    <a href="{% url 'decision_details' cn=cited.CaseNumber %}"> {{ cited.CaseNumber }}   </a>
                                {% endfor %}                      
                        {% endif %}
                    </div>
                </div>



                <div class="col-sm-8">
                    <ul class="nav nav-tabs">
                      <li><a data-toggle="tab" href="#procedure">Procedure</a></li>
                      <li class="active"><a data-toggle="tab" href="#reasons">Reasons</a></li>
                      <li><a data-toggle="tab" href="#outcome">Outcome</a></li>
                      <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="procedure" class="tab-pane fade">
                        <h4> {{ decision.FactsHeader }} </h4>
                        {% for para in facts %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                      <div id="reasons" class="tab-pane fade in active">
                        <h4> {{ decision.ReasonsHeader }} </h4>
                        {% for para in reasons %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                      <div id="outcome" class="tab-pane fade">
                        <h4> {{ decision.OrderHeader }} </h4>
                        {% for para in order %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                      <div id="comments" class="tab-pane fade">
                        <h4> Comments </h4>
                        <p> There might be comments, one day. </p>
                      </div>
                    </div>



                </div>
            </div>
        </div>

{% endblock %}

{% block scripts %}
<script>
    /* Responsive width when using the bootstrap affix plugin (width became absolute) with a fluid grid */
    $(function(){
    var biblDisplayWidth=$('#bibl-display-parent').width();
    $('#bibl-display-div').css('width', biblDisplayWidth);
    });
</script>
{% endblock %}