{% extends "app/layout.html" %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1> {{ decision.CaseNumber}} </h1>
                    <p> {{ decision.ECLI}} </p>
                    <p> {{decision.DecisionDate}} by {{ decision.Board }}
                        {% if decision.OnlineDate %}
                            (online since {{ decision.OnlineDate }})
                        {% endif %}
                    </p>
                    <h4> {{ decision.Title }} </h4>
                    <p> {{ decision.Applicant }} </p>                    
                    {% if decision.Articles %} <p> Article(s) {{ decision.Articles }} </p> {% endif %}
                    {% if decision.Rules %} <p> Rules {{ decision.Rules }} </p> {% endif %}
                    <p> {{ decision.Keywords }} </p>
                </div>
                <div class="col-sm-8">
                    <ul class="nav nav-tabs">
                      <li><a data-toggle="tab" href="#facts">Facts</a></li>
                      <li class="active"><a data-toggle="tab" href="#reasons">Reasons</a></li>
                      <li><a data-toggle="tab" href="#order">Order</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="facts" class="tab-pane fade">
                        <h4> Summary of Facts and Submissions </h4>
                        {% for para in facts %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                      <div id="reasons" class="tab-pane fade in active">
                        <h4> Reasons for the Decision </h4>
                        {% for para in reasons %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                      <div id="order" class="tab-pane fade">
                        <h4> Order </h4>
                        {% for para in order %}
                            <p> {{ para }} </p>
                        {% endfor %}
                      </div>
                    </div>



                </div>
            </div>
        </div>

{% endblock %}
